:root{
  --black:#1B262C;
  --blue:#0F4C81;
  --red:#ED6663;
  --orange:#FFA372;
  --theme:#FFA372;
  --teal:#1abc9c;
}

* {
  box-sizing: border-box;
}
body,html{
  scroll-behavior:smooth;
  height:100%;
}
/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background:white;
  color:black;
}
body[theme=dark]{
  color:#ddd;
  scrollbar-color:red red;
  background:black;
}
body[theme=dark] ::selection{
  background:#00a;
  color:white;
}
body[theme2=glow], body[theme2=glow] input, body[theme2=glow] textarea{
  text-shadow:0 0 8px #fff;
}

#contentBG{
  background:#eee;
  padding:0px 10%;
  min-height:calc(100% - 47px);
}
body[theme=dark] #contentBG{
  background:#222;
}
#content{
  background:white;
  padding:10px 20px;
  height:100%;
}
body[theme=dark] #content{
  background:#333;
}
h1, h3{
  margin:0px;
}
h1{font-size:50px;}

a{
  text-decoration:none;
  color:blue;
  cursor:pointer;
}
body[theme=dark] a{
  color:#88f;
}
body[theme2=glow] a{
  text-shadow:0 0 8px #00f;
}
a[disabled]{
  color:gray !important;
}
a:hover{
  text-decoration:underline;
}

input:not(.notText), textarea{
  border:1px solid gray;
  padding:10px 15px;
  background:white;
  transition:0.6s ease;
}
body[theme=dark] input:not(.notText), body[theme=dark] textarea{
  background:#222;
  color:#eee;
}
body[theme=dark] input:not(.notText)::placeholder, body[theme=dark] textarea::placeholder{
  color:#aaa;
}
input.round{border-radius:40px;}
input.small{padding:2px;}
input:not(.notText):focus, textarea:focus{
  outline:none;
  box-shadow: 0 0 3pt 2pt #aaf;
}
input[disabled], textarea[disabled]{
  background:#ddd;
}
body[theme=dark] input[disabled], body[theme=dark] textarea[disabled]{
  background:#855;
}

button{
  background:var(--blue);
  color:white;
  margin-right:10px;
  border-radius:5px;
  border:1px solid black;
  padding:5px 20px;
  cursor:pointer;
  vertical-align:middle;
  transition:0.5s;
}
button:hover{
  background:var(--orange);
  color:black;
}

.skeletonText{
  display:inline-block;
  width:10%;
  background-size:400% 400%;
  background-image: linear-gradient(90deg, #ddd 30%,#eee 40%,#eee 60%,#ddd 70%);
  animation:5s linear skeletonText infinite;
}
body[theme=dark] .skeletonText{
  background-image: linear-gradient(90deg, #444 30%,#555 40%,#555 60%,#444 70%);
}
@keyframes skeletonText{
  /*0%{background:#eee;}
  30%{background:#ccc;}
  60%{background:#eee;}
  100%{background:#eee;}*/
	0% {
		background-position: 400% 0%;
	}
	100% {
		background-position: 0% 0%;
	}
}
.skeletonText.longSkeleton{
  width:30%;
}

.hidden{display:none;}
.block{display:block;}

.toggleSwitch{
  position:relative;
  display:inline-block;
  width:60px;
  height:30px;
  vertical-align: middle;
}
.toggleSwitch > span{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border:1px solid black;
  border-radius:50px;
  background: #ccc;
  transition: .4s;
}
body[theme=dark] .toggleSwitch > span{
  background: #222;
  border-color:#888;
}
.toggleSwitch > span:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  border-radius:100%;
  background: white;
  transition: .4s;
}
.toggleSwitch.checked > span{
  background:var(--blue) !important;
}
.toggleSwitch.checked > span:before{
  transform: translateX(100%);
}

.popup{
  position: absolute;
  display: inline-block;
  font-size:16px;
  font-weight:normal;
  z-index:2;
}
.popup > span{
  display:block;
  border:1px solid gray;
  background:white;
  word-wrap: normal;
	width: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
body[theme=dark] .popup > span{
  background: #222;
}
.popup > span > .userContent{
  padding:8px;
}
.popup .bg{
  width:100%;
  height:100px;
  background:lightgray;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.comment{
  border:1px solid gray;
  margin-top:40px;
}
.comment .top{
  background:#f5f5f5;
  padding:10px;
  display:block;
}
body[theme=dark] .comment .top{
  background:#444;
}
.comment .user{
  vertical-align:middle;
}
.comment .pfp{
  width:30px;
  height:30px;
  border-radius:100%;
  border:1px solid gray;
  vertical-align:middle;
  margin-right:10px;
}
.comment .commentCotent{
  overflow-wrap: break-word;
  white-space:pre-wrap;
}
.comment .commentCotent{
  margin:20px;
}
.right{
  float:right;
}

.search-container input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.search-container button {
  padding: 6px 10px;
  margin:0;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  border-radius:0;
  vertical-align:baseline;
}

.search-container button:hover {
  background: #ccc;
}

.mapsContainer{
  
}
.map{
  border:1px solid gray;
  display:inline-block;
  padding:8px;
  text-align:center;
}
.map img{
  width:200px;
}
